<div class="card" *ngIf="notification && !read">
  <div class="card-header">
      <span class="important">{{notification.origin}}</span><span>, {{calculateTimeSinceNotificationPoppedUp(notification)}} ago...</span>
      <a (click)="markAsRead(notification.id, $event)" class="card-close">x</a>
  </div>
  <div class="card-body">
    <h4 class="card-title">{{notification.title}}</h4>
    <p class="card-text">{{notification.message}}</p>
    <a [href]="notification.action.url" target="_parent"
       class="btn btn-primary">{{notification.action.text}}</a>
  </div>
</div>
