<div class="menu" [ngClass]="{'light': active === 'SUBSCRIPTION_EDITOR', 'dark': active === 'NOTIFICATION_LIST'}">
    <a (click)="activateNotificationList()"
       *ngIf="active === 'SUBSCRIPTION_EDITOR'">
        <fa-icon [icon]="'bell'"></fa-icon>
    </a>
    <a (click)="activateSubscriptionEditor()"
       *ngIf="active === 'NOTIFICATION_LIST'">
        <fa-icon [icon]="'cog'"></fa-icon>
    </a>
</div>

<app-notification-list *ngIf="active === 'NOTIFICATION_LIST'"></app-notification-list>
<app-subscription-editor *ngIf="active === 'SUBSCRIPTION_EDITOR'"></app-subscription-editor>
