@import "../../node_modules/stijnhooft-portal-front-end-library/style/app";

$menu-width: 30px;
$menu-height: 30px;
.menu {
    position: fixed;
    right: 0;
    top: 0;
    width: $menu-width;
    height: $menu-height;
    margin: 0;
    padding-left: $menu-width / 4;
    padding-top: 3px;
    z-index: 100;
}
.menu.light {
    background-color: $background-colour;
    color: $dark-background;
}
.menu.dark {
    background-color: $dark-background;
    color: $background-colour;
}
.menu * {
    cursor: pointer;
}
