@import "../app.component";

.subscription-editor {
    flex-grow: 2;
    padding: 20px 100px;
    background-color: $dark-background;
    color: $background-colour;

    animation: grow 1s ease;
    animation-iteration-count: 1;
}

.subscription-editor .fade-in {
    animation: fade-in 2s ease;
    animation-iteration-count: 1;
}

.subscription-editor .grid {
    display: flex;
}

.subscription-editor .grid app-subscription-list {
    flex-grow: 1;
}

.subscription-editor .grid app-subscription-details {
    flex-grow: 4;
}

app-subscription-list, app-subscription-details {
    margin-top: 20px;
}

@media (max-width: 400px) {
    .subscription-editor .grid {
        display: block;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes grow {
    0% {
        margin-left: 100%;
        height: 10px;
        transform-origin: top right;
    }
    100% {
        margin-left: 0;
        height: 100%
    }
}
